services:
    postgres:
        image: postgres
        container_name: lernapp_db
        restart: always
        environment:
          POSTGRES_USER: postgres
          POSTGRES_PASSWORD: postgres
          POSTGRES_DB: core
        ports:
          - "5432:5432"
        healthcheck:
          test: ["CMD-SHELL", "pg_isready -U postgres"]
          interval: 5s
          timeout: 3s
          retries: 5

    api:
        build:
          context: ./../Backend
          dockerfile: ./LernApp.Api/Dockerfile
        container_name: lernapp_api
        depends_on:
          postgres:
            condition: service_healthy
        environment:
          ASPNETCORE_ENVIRONMENT: Development
          ConnectionStrings__Database: "Host=postgres;Port=5432;Database=lernapp;Username=postgres;Password=postgres"
        ports:
          - "${API_PORT:-5001}:8080"
